@using OnlineMarket.BLL.ViewModels.Account;
@model LoginVM


<p>Login</p>

<form asp-action="Login" method="post">

    <div asp-validation-summary="ModelOnly" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.UserName" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.UserName">
            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Password" class="col-form-label"></label>
            <input type="password" class="form-control" asp-for="@Model.Password">
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
    </div>
    <p></p>
    <button class="btn btn-primary">Отправить</button>
</form>

